<!-- prettier-ignore -->
{% extends "base.html" %}

{% block title %}Gameslog{% endblock %}

{% block content %}
<!-- Nav Header -->
<span class="pt-2 pb-2">
  <ul class="flex">
    <li class="flex-1 mr-2">
      <a
        id="Home"
        class="text-center block border border-black rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-2 px-4"
        href="/"
        >Home</a
      >
    </li>
    <li class="flex-1 mr-2">
      <a
        id="Games"
        class="text-center block border border-black rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-2 px-4"
        href="/games"
        >Games</a
      >
    </li>
    <li class="flex-1 mr-2">
      <a
        id="Log"
        class="text-center block border border-blue-500 rounded py-2 px-4 bg-blue-500 hover:bg-blue-700 text-white"
        href="#"
        >Gameslog</a
      >
    </li>
  </ul>
</span>

<!-- Body -->
<h1 class="text-green-500">Your Gameslog:</h1>
{% endblock %}
